* {
    box-sizing: border-box;
  }
body {
    background-image: url("https://e0.pxfuel.com/wallpapers/720/439/desktop-wallpaper-website-dark-website.jpg");
    background-color: #f1e9e9;
    color: #333333;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
  }
.container {
background-color:rgba(182, 157, 181, 0.5);
border-radius: 10px;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
margin: 20px auto;
max-width: 600px;
padding: 20px;
} 
 h1{
    color:#f0d6b1;
    align-items: center;
    text-align: center;
} 
    h2{
        text-align: center;
        color: #f0d6b1;
    }
p, li, figcaption{
    color: #f0d6b1;
}
  #page-wrapper {
    height: 100%;
    width: 100%;
    max-width: 950px;
    margin: auto;
  }
#content-wrapper {
    width: 100%;
    max-width: 950px;
    margin: center;
    text-align: left;
  }
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
    width: 100%;
  }	
  .Home_buttons {
    text-align: center;
    margin-top: 20px; 
  }
  
  .Home_buttons button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #0a0a23;; 
    color: #fff;
    border: 2px solid #fdb347;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(148, 67, 67, 0.2);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .Home_buttons button:hover {
    background-color: #2980b9; /* Change the hover background color as desired */
    color: #fff;
  }
  
 a {
    color: #eef7f1;
  }
  .footer-wrapper {
    background-color: #0a0a23;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-wrapper ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .footer-wrapper ul li:last-child {
    margin-right: 0; 
  }
  
  .footer-wrapper ul li:not(:last-child)::after {
    content: "||";
    margin: 0 5px;
    /* margin-left: 5px;
    margin-right: 2px; */
}

  
  .footer-wrapper p {
    text-align: center;
    margin-top: 10px;
  }
  
  .footer-wrapper div {
    text-align: center;
    margin-top: 10px;
  }
  
  .footer-wrapper a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-wrapper a:hover {
    text-decoration: underline;
    color: aqua;
  }
  .figure {
    text-align: center;
    font-style: italic;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0 auto;
    padding: 20px 10px;
    gap: 16px;
  }
  
  .figure img {
    display: block; 
    max-width: 100%; 
    border: 2px solid #fdb347; 
    border-right-width: 2px;
  }
  
  hr{
    background-color:#fdb347; 
  }