<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/styles.css" rel="stylesheet">
    <title>Ajmal Amir the Lionheart | Header</title>
</head>

<header class="header">  
        <div id="header-container">
          <div id="logo-wrapper">
            <h1>AJMAL AMIR THE LIONHEART | ITIS 3135</h1>
          </div> <!-- /#logo-wrapper -->
          <div class="Home_buttons">
          <nav>
            <ul>
              <button><a href="https://webpages.charlotte.edu/aamir/itis3135/index.html">Home</a></button>
              <button><a href="https://webpages.charlotte.edu/aamir/itis3135/introduction.html">Introduction</a></button>
              <button><a href="https://webpages.charlotte.edu/aamir/itis3135/contract.html">Contract</a></button>
              <button><a href="https://webpages.charlotte.edu/aamir/itis3135/Table.html">Tables</a></button>
              <button><a href="https://webpages.charlotte.edu/aamir/itis3135/form.html">Contact us</a></button>
              <button><a href="https://webpages.charlotte.edu/aamir/itis3135/website_evaluations.html">Website Eevaluations</a></button>
              <button><a href="https://webpages.charlotte.edu/aamir/itis3135/firstscripts.html">My First Scripts</a></button>
            </ul>
          </div>

                </div>
    </header>